@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

header {
  /* background-image: url('https://cdn.pixabay.com/photo/2018/06/20/00/54/work-3485548_960_720.jpg'); */
  background-color: #fbf7f0;
}

.title {
  font-size: 55px;
}

#star {
  width: 50px;
}

h2 {
  padding-left: 7px;
  font-size: 15px;
}

p {
  color: #394867;
}

.container {
  display: flex;
  width: 100%;
  padding: 0 10px;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #ac4b1c;
  border-radius: 15px;
  padding: 20px 35px;
}

/* #image-what img,
#image-etiqueta img, */
button img {
  max-width: 50px;
  max-width: 50px;
  border-radius: 50px;
}
