@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@500&display=swap');

body{
    font-family: 'Recursive', sans-serif;
}

 header{
    background-image: url('https://cdn.pixabay.com/photo/2018/06/20/00/54/work-3485548_960_720.jpg');
    
} 